<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <span class="login100-form-title">
        Restore Password
      </span>
      <div *ngIf="!valid" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="email" placeholder="Enter your email" [(ngModel)]="email">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
      </div>
      <div *ngIf="valid" class="wrap-input100 validate-input" data-validate="Valid Password is required: !1234aBcd" >
        <input class="input100" type="text" name="newpass" placeholder="Enter your new Password" [(ngModel)]="newpass">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
      </div>
      <div class="container-login100-form-btn">
        <button type="button" (click)="isEmailValid()" class="login100-form-btn">
          Verify
        </button>
      </div>
    </div>
  </div>
</div>