<div class="container-login100">
  <div class="wrap-login100">
    <p class="title">Welcom to <span class="spn">Sydema</span></p>
    <h1 class="sub-title">Hello, <strong>Everyone!</strong></h1>
    <p class="sub-content">This is an application where you can create different faculties with its <strong>Careers</strong>,
      <strong>Courses</strong>, <strong>Students</strong> and <strong>Teachers</strong>.</p>
    <p class="sub-content">You can also do different operations whit them, for example edit them, delete them, asign
      courses to students, asign Teachers to courses, asign course to careers, etc.</p>
    <p class="content">Guide</p>
    <div id="accordion">
      <div class="card bg-secondary">
        <div class="card-header" id="career">
          <h5 class="mb-0 sub-content">
            <button class="btn btn-link collapsed spn" data-toggle="collapse" data-target="#colcareer" aria-expanded="false"
              aria-controls="colcareer">
              Careers
            </button>
          </h5>
        </div>
        <div id="colcareer" class="collapse" aria-labelledby="career" data-parent="#accordion">
          <div class="card-body content">
            This option let you create, modify, delete and see all the careers created.
            <br>
            <br>
            <span class="spn">Attributes Description:</span>
            <ul>
              <li>Career's Name: <span class="spn">REQUIERED</span></li>
              <li>Career's Code: <span class="spn">REQUIERED</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-header" id="student">
          <h5 class="mb-0 sub-content">
            <button class="btn btn-link collapsed " data-toggle="collapse" data-target="#collstudent" aria-expanded="false"
              aria-controls="collstudent">
              Students
            </button>
          </h5>
        </div>
        <div id="collstudent" class="collapse" aria-labelledby="student" data-parent="#accordion">
          <div class="card-body content">
            This option let you create, modify, delete and see all the Students created.
            <br>
            <br>
            <span class="spn">Attributes Description:</span>
            <ul>
              <li>Student's ID:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Student's Name:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Student's Last Name:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Student's Date Born:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Student's CUI:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Student's Telephone:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Student's Address:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-header" id="professor">
          <h5 class="mb-0 sub-content">
            <button class="btn btn-link collapsed " data-toggle="collapse" data-target="#collProfessor" aria-expanded="false"
              aria-controls="collProfessor">
              <i class="fa fa-user-cicle-o"></i>Professors
            </button>
          </h5>
        </div>
        <div id="collProfessor" class="collapse" aria-labelledby="professor" data-parent="#accordion">
          <div class="card-body content">
            This option let you create, modify, delete and see all the Professors created.
            <br>
            <br>
            <span class="spn">Attributes Description:</span>
            <ul>
              <li>Professor's ID:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Professor's Name:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Professor's Last Name:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Professor's Date Born:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Professor's CUI:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Professor's Specialization:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Professor's Master:&nbsp; <span class="spn">OPTIONAL [If you fill this field the next are
                  REQUIERED]</span></li>
            </ul>
            <ul>
              <li>Professor's Collegiate Code:&nbsp; <span class="spn">OPTIONAL</span></li>
            </ul>
            <ul>
              <li>Professor's School Code:&nbsp; <span class="spn">OPTIONAL</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-header" id="course">
          <h5 class="mb-0 sub-content">
            <button class="btn btn-link collapsed " data-toggle="collapse" data-target="#collcourse" aria-expanded="false"
              aria-controls="collcourse">
              Courses
            </button>
          </h5>
        </div>
        <div id="collcourse" class="collapse" aria-labelledby="course" data-parent="#accordion">
          <div class="card-body content">
            This option let you create, modify, delete and see all the Courses created.
            <br>
            <br>
            <span class="spn">Attributes Description:</span>
            <ul>
              <li>Career's ID:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Course's Name:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Course's ID:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Course's Cycle:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Course's Section:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Course's Start Time:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Course's End Time:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Professor's ID:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-header" id="asingnation">
          <h5 class="mb-0 sub-content">
            <button class="btn btn-link collapsed " data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              Asignations
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="asingnation" data-parent="#accordion">
          <div class="card-body content">
            This option let you assign students to a previously created course, and see all the Asignations.
            <br>
            <br>
            <span class="spn">Attributes Description:</span>
            <ul>
              <li>Student's ID:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Course's Name:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
            <ul>
              <li>Careers's Section:&nbsp; <span class="spn">REQUIERED</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>