<div class="container-100">
  <div class="wrap-100">
    <p class="title">Select <span class="text-primary">Option</span></p>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/career.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Careers</h4>
                <button type="button" [routerLink]="['/careers']" class="btn btn-link">Go <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/stud.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Students</h4>
                <button type="button" [routerLink]="['/students']" class="btn btn-link">Go <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/prof.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Teachers</h4>
                <button type="button" [routerLink]="['/teachers']" class="btn btn-link">Go <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/cour.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Courses</h4>
                <button type="button" [routerLink]="['/courses']" class="btn btn-link">Go <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/asig.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Asignations</h4>
                <button type="button" [routerLink]="['/asignations']" class="btn btn-link">Go <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/reports.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Reports</h4>
                <button type="button" [routerLink]="['/reports']" class="btn btn-link">Go <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>