<div class="container-100">
  <div class="wrap-100">
    <p class="title">Select <span class="text-primary">Option</span></p>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op" [routerLink]="['/careers']">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/career.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Institutions</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op" [routerLink]="['/students']">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/stud.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Students</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op" [routerLink]="['/teachers']">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/prof.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Teachers</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op" [routerLink]="['/courses']">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/cour.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Courses</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op" [routerLink]="['/asignations']">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/asig.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Asignations</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4 op" [routerLink]="['/reports']">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ride">
                <img src="src/public/images/reports.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>Reports</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>