<div class="container wrap-100">
  <h2 class="title"><i class="fa fa-id-card" aria-hidden="true"></i> Carrera: {{course.cod_career}}</h2>
  <ul class="list-group">
    <li class="list-group-item wrap-login101 mb-3"><span class="content"><i class="fa fa-book" aria-hidden="true"></i> Course Code:</span>
      <span class="sub-title"> {{course.cod_course}}</span></li>
    <li class="list-group-item wrap-login101 mb-3"><span class="content"><i class="fa fa-refresh" aria-hidden="true"></i> Cycle:</span>
      <span class="sub-title">{{course.cycle}}</span></li>
    <li class="list-group-item wrap-login101 mb-3"><span class="content"><i class="fa fa-building" aria-hidden="true"></i>
        Section:</span>
      <span class="sub-title">"{{course.section}}"</span></li>
    <li class="list-group-item wrap-login101 mb-3"><span class="content"><i class="fa fa-clock-o" aria-hidden="true"></i> Schedule:</span>
      <span class="sub-title">{{course.st_time}} - {{course.end_time}}</span></li>
    <li class="list-group-item wrap-login101 mb-3"><span class="content"><i class="fa fa-id-card" aria-hidden="true"></i> Teacher
        Code:</span> <span class="sub-title">{{course.cod_teacher}}</span></li>
  </ul>
</div>